.header {
    //z-index: 1000;
    .navbar-color {
        background-color: $charde;
      }

    .nav-link{
        color: $white;
        font-weight: 600;
    }

    .nav-link:hover{
        color: $persimmon;
        text-shadow: 2px 4px 10px $persimmon;
    }

    .navbar-brand{
        color: $persimmon;
        font-weight: 800;
        font-size: 1.50rem;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }

      .navbar-toggler{
        border-color: $white;
    }
}
